* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: none;
}

.row {
    height: 100%;
    margin: 2% 1%;
    padding: 2% 2%;
    margin-right: 0% !important;
    margin-left: 0% !important;
    align-items: center;
}

.show1 {
    height: inherit;
    text-align: center;
}

.show1 .row {
    padding: 2% 2%;
    margin: 0%;
    text-align: right;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem !important;
    letter-spacing: 2px;
}


/* Upper */
.upper {
    background-color: white;
    width: 100%;
    height: 60%;
}


.text, .link{
    margin: 2% 0%;
    padding: 2% 5%;
} 

.link{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
    
}

.data{
    height: inherit;
    overflow-x: hidden; 
    overflow-y: auto; 
}

.heading{
    display: flex;
    background-color: #427780;
    height: 8vh;
    align-items: center;
}

h5{ 
    width: 100%;
    text-align: center;
    background-color: #427780;
    color: white;
}

.new{
    width: 90%;
    height: 100%;
    background-color: white;
    padding: 2% 2%;
    border-radius: 1%;  
    margin-bottom: 3%;
    border: #427780 solid;
}


li{ 
    margin-top: 3%;
    color: black;
    margin-left: 3%;
    text-align: left;
}

li:not(:last-child){
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}




.image {
    height: 100%;
    padding: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.btn {
    width: 100%;
}

.show2 .fas {
    transform: translate(-50%);
    margin: 0% 5%;

}

i {
    cursor: pointer;
}

#lower {
    height: 40%;
}

.cntct {
    text-align: center;
}

.ic {
    padding: 2% 2%;
}

@media(max-width:1183) {
    .btn {
        width: 100%;
    }
}

@media(max-width: 991px) {
    .show1 .row {
        text-align: center;
    }

    .btn {
        width: 100%;
    }

    .image {
        width: 90%;
    }
    .notification{
        justify-content: center;
    }
}

@media(max-width: 700px) {
    .link{
        flex-direction: column;
    }
    .show1 .row {
        text-align: center;
    }

    .btn {
        width: 100%;
    }

    .image {
        width: 90%;
    }

    h1 {
        font-size: 2.8rem !important;
    }

    .fa-instagram:before,
    .fa-facebook:before,
    .fa-linkedin-in:before,
    .fa-envelope:before {
        font-size: 25px;
    }

    .text {
        font-size: 1.5rem;
    }
    .new{
        width: 90%;
        height: 80%;
    }
    .notification{
        justify-content: center;
    }
}

@media(max-width: 250px) {
    h1 {
        font-size: 2rem !important;
    }

    .btn {
        width: 100%;
    }

    .fa-instagram:before,
    .fa-facebook:before,
    .fa-linkedin-in:before,
    .fa-envelope:before {
        font-size: 25px;
    }

    .text {
        font-size: 1.5rem;

    }
}



@keyframes animate {
    0% {
        transform: rotate(0deg);
        transform-origin: bottom right;
    }

    25% {
        transform: rotate(-90deg);
        transform-origin: bottom right;
    }

    50% {
        transform: rotate(0deg);
        transform-origin: bottom right;
    }

    75% {
        transform: rotate(90deg);
        transform-origin: bottom right;
    }

    100% {
        transform: rotate(0deg);
        transform-origin: bottom right;
    }
}

a {
    color: #212529;
    width: 90%;
}

a:hover {
    color: #212529;
}

.preloader {
    top:0%;
    background-color: white;
    width: 100%;
    z-index: 1001;
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity 0.5 ease;
}

.preloader img {
    height: 18rem;
}

.text {
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
}